{% extends 'layout/default.html.twig' %}

{% block title %}task{% endblock %}

{% block meta %}
    <meta name="description" content="task Page description" />
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item active">task</li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Tasks</h1>

    {% for task in tasks %}

        <div class="card mb-3">
            <div class="card-header">
                <span class="float-right">{{ task.created_at|date('Y-m-d') }}, </span>
                <a>{{ task.username }}</a>
            </div>
            <div class="card-body">{{ task.content|nl2br }}</div>
        </div>

    {% endfor %}

    {% include 'share/pager.html.twig' with {
        'pager': pager,
        'main_route': 'home',
        'route': 'task_page',
    } %}

{% endblock %}